<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="{{ facebook_url }}" target="_blank"><i class="ficon-facebook"></i></a></li>
  {% endif %}
  {% if twitter_url != '' %}
    <li><a href="{{ twitter_url }}" target="_blank"><i class="ficon-twitter"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="{{ instagram_url }}" target="_blank"><i class="ficon-instagram"></i></a></li>
  {% endif %}
  {% if linkedin_url != '' %}
    <li><a href="{{ linkedin_url }}" target="_blank"><i class="ficon-linkedin"></i></a></li>
  {% endif %}
  {% if youtube_url != '' %}
    <li><a href="{{ youtube_url }}" target="_blank"><i class="ficon-youtube"></i></a></li>
  {% endif %}
  {% if vimeo_url != '' %}
    <li><a href="{{ vimeo_url }}" target="_blank"><i class="ficon-vimeo"></i></a></li>
  {% endif %}
  {% if telegram_url != '' %}
    <li><a href="{{ telegram_url }}" target="_blank"><i class="ficon-telegram"></i></a></li>
  {% endif %}
  {% if whatsapp_url != '' %}
    <li><a href="{{ whatsapp_url }}" target="_blank"><i class="ficon-whatsapp"></i></a></li>
  {% endif %}
  {% if github_url != '' %}
    <li><a href="{{ github_url }}" target="_blank"><i class="ficon-github"></i></a></li>
  {% endif %}
  {% if vk_url != '' %}
    <li><a href="{{ vk_url }}" target="_blank"><i class="ficon-vk" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
