{#
/**
 * @file
 * AdSense CSE v1 (with branding) search box HTML code.
 */
#}
<style type="text/css">
  @import url(//www.google.com/cse/api/branding.css);
</style>
<div class="{{ class }}" style="background-color:#{{ bg_color }};color:#{{ color }}">
  <div class="cse-branding-form">
    <form action="{{ results_path }}" id="cse-search-box">
      <div>
        <input type="hidden" name="cx" value="partner-{{ client }}:{{ slot }}" />
        <input type="hidden" name="cof" value="FORID:{{ forid }}" />
        <input type="hidden" name="ie" value="{{ encoding }}" />
        <input type="text" name="q" size="{{ qsize }}" />
        <input type="submit" name="sa" value="{{ search }}" />
      </div>
    </form>
  </div>
  <div class="cse-branding-logo">
    <img src="//www.google.com/images/poweredby_transparent/poweredby_{{ bg_color }}.gif" alt="Google" />
  </div>
  <div class="cse-branding-text">
    {{ custom_search }}
  </div>
</div>
