{% include '@edux/template-parts/header/header.html.twig' %}
{% if slider_show %}
  {% include '@edux/template-parts/slider.html.twig' %}
{% endif %}
{% if page.highlighted %}
  {% include '@thex/template-parts/highlighted.html.twig' %}
{% endif %}
<div class="main-wrapper">
  {% if page.content_home_top %}
    {% include '@thex/template-parts/content-parts/content_home_top.html.twig' %}
  {% endif %}
  <div class="container">
    <div class="main-container">
      {# main-content #}
  {% set today = date() %}
  {% set yesterday = date('-1days') %}
  {% set day2back = date('-2days') %}
  {% set day3back = date('-3days') %}
  {% set day4back = date('-4days') %}
  {% set day5back = date('-5days') %}
  {% set day6back = date('-6days') %}
 </center> 
<table width="100%" id="table" class="front-ads-bydate">
<tbody>
<tr>
<td style="border: #DBE1E6 1px solid;" class="Newspaper_border"><b><span style="color:#019875;"><br>Date - Day<br>&nbsp;</span></b></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/jang-newspaper-jobs-ads"><img alt="Daily Jang" src="/themes/businessplus_lite/images/papers-mini/jang-mini.jpg"></a></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/dawn-newspaper-jobs-ads"><img alt="Epress" src="/themes/businessplus_lite/images/papers-mini/dawn-mini.jpg"></a></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/thenews-newspaper-jobs-ads"><img alt="Dawn" src="/themes/businessplus_lite/images/papers-mini/thenews-mini.jpg"></a></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/express-newspaper-jobs-ads"><img alt="NawaiWaqt" src="/themes/businessplus_lite/images/papers-mini/express-mini.jpg"></a></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/nawaiwaqt-newspaper-jobs-ads"><img alt="The News" src="/themes/businessplus_lite/images/papers-mini/nawaiwaqt-mini.jpg"></a></td>
<td style="border: #DBE1E6 1px solid;" ><a href="/thenation-newspaper-jobs-ads"><img alt="The Nation" src="/themes/businessplus_lite/images/papers-mini/nation-mini.jpg"></a></td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ today | date("d-m-Y") }}<br>{{ today | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ today | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ today | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ today | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ yesterday | date("d-m-Y") }}<br>{{ yesterday | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ yesterday | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ yesterday | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ yesterday | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ day2back | date("d-m-Y") }}<br>{{ day2back | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ day2back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ day2back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ day2back | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ day3back | date("d-m-Y") }}<br>{{ day3back | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ day3back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ day3back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ day3back | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ day4back | date("d-m-Y") }}<br>{{ day4back | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ day4back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ day4back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ day4back | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ day5back | date("d-m-Y") }}<br>{{ day5back | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ day5back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ day5back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ day5back | date("Ymd") }}">Tenders</a>
 </td>
</tr>

<tr>
 <td align="center" style="border: #DBE1E6 1px solid;">
  <b><span style="color:#019875;">{{ day6back | date("d-m-Y") }}<br>{{ day6back | date("l") }}</span></b> 
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/jang-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/jang-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/jang-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/dawn-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/dawn-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/dawn-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenews-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenews-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenews-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/express-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/express-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/express-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/nawaiwaqt-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/nawaiwaqt-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/nawaiwaqt-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
 <td valign="top" class="Newspaper_border">
  <a class="job-link" href="/thenation-newspaper-jobs-ads-date/{{ day6back | date("Ymd") }}">Jobs</a><br>
  <a class="admission-link" href="/thenation-newspaper-admissions-ads-date/{{ day6back | date("Ymd") }}">Admissions</a><br>
  <a class="tender-link" href="/thenation-newspaper-tenders-ads-date/{{ day6back | date("Ymd") }}">Tenders</a>
 </td>
</tr>

</tbody>
</table>
</center>
  
  {# EOF:main-content #}
    </div><!--/main-container -->
  </div><!--/container -->
  {% if page.content_home_bottom %}
    {% include '@thex/template-parts/content-parts/content_home_bottom.html.twig' %}
  {% endif %}
</div><!--/main-wrapper -->
{% include '@edux/template-parts/footer.html.twig' %}