{#
/**
 * @file
 * AdSense pre-2007 form HTML code.
 */
#}
<!-- SiteSearch Google -->
<form method="get" action="http://{{ country }}/custom" target="_top">
<table border="0" bgcolor="{{ bg_color }}">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
{% if logo == 'adsense_search_logo_on_button' %}
</td>
<td nowrap="nowrap">
{% else %}
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25{{ logo_color }}.gif" border="0" alt="Google" align="middle"></img></a>
    {% if logo == 'adsense_search_logo_google' %}
</td>
<td nowrap="nowrap">
    {% elseif logo == 'adsense_search_logo_above_textbox' %}
<br/>
    {% endif %}
{% endif %}
{% if hidden_q %}
<input type="hidden" name="q" value="." />
{% endif %}
<input type="hidden" name="domains" value="{{ domain }}"></input>
<label for="sbi" style="display: none">Enter your search terms</label>
<input type="text" name="q" size="{{ qsize }}" maxlength="255" value="" id="sbi"></input>
{% if not search_button %}
<label for="sbb" style="display: none">Submit search form</label>
<input type="submit" name="sa" value="{{ btn }}" id="sbb"></input>
{% endif %}
</td></tr>
<tr>
{% if (logo == 'adsense_search_logo_on_button') or (logo == 'adsense_search_logo_google') %}
<td>&nbsp;</td>
{% endif %}
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value="" checked id="ss0"></input>
<label for="ss0" title="Search the Web"><font size="-1" color="{{ box_text_color }}">Web</font></label></td>
{% if domain_0 %}
<td>
<input type="radio" name="sitesearch" value="{{ domain_0 }}" id="ss1"></input>
<label for="ss1" title="Search {{ domain_0 }}"><font size="-1" color="{{ box_text_color }}">{{ domain_0 }}</font></label></td>
{% endif %}
</tr>
{% if domain_1 %}
<tr>
<td>
<input type="radio" name="sitesearch" value="{{ domain_1 }}" id="ss2"></input>
<label for="ss2" title="Search {{ domain_1 }}"><font size="-1" color="{{ box_text_color }}">{{ domain_1 }}</font></label></td>
    {% if domain_2 %}
<td>
<input type="radio" name="sitesearch" value="{{ domain_2 }}" id="ss3"></input>
<label for="ss3" title="Search {{ domain_2 }}"><font size="-1" color="{{ box_text_color }}">{{ domain_2 }}</font></label></td>
    {% else %}
<td></td>
    {% endif %}
</tr>
{% endif %}
</table>
{% if search_button %}
<label for="sbb" style="display: none">Submit search form</label>
<input type="submit" name="sa" value="{{ btn }}" id="sbb"></input>
{% endif %}
<input type="hidden" name="client" value="{{ client }}"></input>
<input type="hidden" name="forid" value="1"></input>
{% if channel %}
<input type="hidden" name="channel" value="{{ channel }}"></input>
{% endif %}
<input type="hidden" name="ie" value="{{ encoding }}"></input>
<input type="hidden" name="oe" value="{{ encoding }}"></input>
{% if safe_mode %}
<input type="hidden" name="safe" value="active"></input>
{% endif %}
<input type="hidden" name="cof" value="GALT:{{ url }};GL:1;DIV:{{ border }};VLC:{{ visited }};AH:center;BGC:{{ bg }};LBGC:{{ logobg }};ALC:{{ title }};LC:{{ title }};T:{{ text }};GFNT:{{ light }};GIMP:{{ light }};FORID:11"></input>
<input type="hidden" name="hl" value="{{ language }}"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
